DATABASE_URL=

FRONTEND_URL=
PORT=

NODE_ENV=

ACCESS_SECRET=
REFRESH_SECRET=
JWT_EXPIRES_IN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BREVO_API_URL=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=